<p> This is Product details page</p>

<entity-view [keys]="keys" [object]="product"></entity-view>

<button type="button" class="btn btn-info btn-detail" (click)="goBack()">Go Back</button>
 
<button type="button" class="btn btn-primary btn-detail" (click)="showEditDialog = !showEditDialog">Edit</button>


<modal [visible]="showEditDialog">
	<sf-form  [schema]="schema" [actions]="actions" [validators]="validators" ></sf-form>
</modal>
<!-- 
  <h1>Hello World</h1>
  <button (click)="showEditDialog = !showEditDialog" class="btn">Close</button>
</modal> -->
