<p>This is Customers page</p>

<!-- ADD CUSTOMER FORM -->
<button type="button" class="btn btn-primary btn-detail" (click)="showAddDialog = !showAddDialog">Add new customer</button>

<!-- Modal here -->
<div *ngIf="customerSchema">
	<modal [visible]="showAddDialog" [title]="customerSchema.title">
	<generated-form [schema]="customerSchema" [actions]="customerActions" [width]="100"></generated-form>
</modal>
</div>


<generated-table [objs]="customers" [instance]="customerInstance"></generated-table>