
<div class="modal-wrapper" [ngClass]="{'opened': visible, 'danger': danger}">
  <div class="modal" [style.width.%]="modalWidth">

    <div class="head" [ngClass]="{'danger': danger}" >
      <div class="row">
        <div class="col-md-10">
          <!-- Title modal`s -->
          <h3>{{title}}</h3>
        </div>
        <div class="col-md-2">
          <!-- CLOSE CROSS -->
        <a class="btn-close" >
          <i class="fa fa-close" aria-hidden="true" (click)="close()"></i>
        </a>
        </div>
      </div>
    </div>
    
    <div class="content">

    	<ng-content></ng-content>
      
    </div>
  </div>
</div>